/*********************

Authors:
	Jay Tang

Stylesheet:
	GUI stylesheet

*********************/

// autocomplete styles for jquery UI widget
.ui-menu .ui-menu-item {
	background-color: $colour-background;
}